* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eaeaea;
}

.container {
    font: 16px/28px arial, sans-serif;
    width: 960px;
    height: 100%;
    margin: auto;
    color: #333;
    border-left: 3px solid salmon;
    border-right: 3px solid lightskyblue;
}

.container .header {
    background-color: #fff;
    padding: 15px 15px 15px 20px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul li{
    display: inline-block;
    padding-right: 10px;
    margin-top: 7px;
}

.header ul li a {
    text-decoration: none;
    color: salmon;
    padding: 6px;
}

.header a:hover {
    background-color: lightskyblue;
    color: white;
}

.hero {
    height: 360px;
    background-image: url(img/hero.png);
    background-position: 0 -160px;
    background-size: cover;
    border-top: 5px solid lightskyblue;
    border-bottom: 5px solid salmon;
}

.content {
    background-color: #fff;
}

.content .main {
    width: 600px;
    padding: 25px;
    box-sizing: border-box;
    float: left;
    border-right: 1px solid #333;
}

.main h2 {
    font-size: 30px;
}

.main .penulis {
    font-size: 13px;
    margin-top: -7px;
    margin-bottom: 7px;
}

.penulis a {
    text-decoration: none;
    color: salmon;
}


.sidebar {
    padding: 25px;
    width: 300px;
    float: right;
}

.sidebar img {
    float: left;
    margin: 8px 10px 0 0;
    border: 2px solid lightskyblue;
}

.sidebar p {
    font: 15px/25px arial;
}


.footer {
    background-color: #333333;
    color: #eaeaea;
    padding: 7px;
}

.footer .copy {
    text-align: center;
}


/* CLEARFIX */
.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
